.app{
margin: 20px auto;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: #282c34;
width: 900px;
height: 600px;
border-radius: 20px;
box-shadow: 5px 5px 10px rgb(87, 85, 85);
}

